.Tabs {
  margin: 0;
  padding: 0px;
  padding-left: 20px;
  border-bottom: 1px solid #ddd;
  background-color: rgba(black, .03);
  text-align: left;
}

.Tabs-tab {
  display: inline-block;
  margin-bottom: -1px;
  list-style: none;
}

.Tabs-tab-link {
  display: block;
  margin-right: 2px;
  padding: 10px 15px;
  border: 1px solid transparent;

  &.is-active, &.is-active:hover {
    border: 1px solid color-get(grey);
    border-bottom-color: transparent;
    background-color: white;
    color: color-get(black);
    cursor: default;
  }

  &:hover {
    border-color: color-get(lightGrey) color-get(lightGrey) color-get(grey);
    background-color: #eee;
  }
}