.NewsTeaser {
  margin: 15px 0;
}

.NewsTeaser-date {
  color: #ccc;
  min-width: span(1 of 6);
  margin-right: 1em;
  display: block;

  @include breakpoint(550px) {
    display: inline-block;
  }

  @include break(800px) {
    min-width: span(1 of 4);
  }
}