{# slate
  name = NewsTeaser
  models[node] = entity:node
  view_mode[node][news] = teaser
#}

<div class="NewsTeaser">
  <span class="NewsTeaser-date">{{ format_date(node.created, 'short') }}</span>
  <a href="{{ node.url }}" title="{{ node.label }}">{{ node.label }}</a>
</div>
