.Grid {
  text-align: left;
}

.Grid-cell {

  margin-bottom: 30px;

  @include breakpoint(610px 900px) {
    width: calc( (100% / 2) - 15px);
    display: inline-block;
    vertical-align: top;

    &:nth-child(2n) {
      margin-left: 30px;
    }
  }

  @include breakpoint(900px) {
    width: calc( (100% / 3) - 20px);
    display: inline-block;
    vertical-align: top;

    &:nth-child(3n+2) {
      margin: 0 30px 30px;
    }
  }

}